doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // for responsive mode
    title Hielo
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/all.min.css')
    link(rel='stylesheet', href='css/style.css')
    //if lt IE 9
      script(src='js/html5shiv.min.js')
      script(src='js/respond.min.js')
  body
    //-Start Nav Bar
    nav.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand(href='#') Hielo
        span  by MOHAMED ZHRAN
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon &#9776;
      #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='#') Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Generic
          li.nav-item
            a.nav-link(href='#') Elements
    //-End Nav Bar

    //-Start Carousel
    section.carousel
      #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        .carousel-inner
          .overlay
          .carousel-item.active
            p.text-center A FREE RESPONSIVE WEB SITE TEMPLATE BY TEMPLATED
            h2.h1 Hielo
          .carousel-item
            p.text-center LOREM IPSUM DOLOR SIT AMET NULLAM FEUGIAT
            h2.h1 Magna etiam
          .carousel-item
            p.text-center SED CURSUS ALIUAM VEROEROS LOREM IPSUM NULLAM
            h2.h1 Tempus dolor
          .carousel-item
            p.text-center ADIPISCING LOREM IPSUM FEUGIAT SED PHASELLUS CONSEQUAT
            h2.h1 Etiam feugiat
          .carousel-item
            p.text-center IPSUM DOLOR SED MAGNA VEROEROS LOREM IPSUM
            h2.h1 Lorem adipiscing

        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
          li(data-target='#carouselExampleIndicators', data-slide-to='1')
          li(data-target='#carouselExampleIndicators', data-slide-to='2')
          li(data-target='#carouselExampleIndicators', data-slide-to='3')
          li(data-target='#carouselExampleIndicators', data-slide-to='4')
    //-End Carousel

    //-Start Sec 1
    section.sec1
      .container
        .row
          .article.col-xl-5.col-12.mr-xl-auto.ml-xl-auto.mb-4.mb-xl-0
            img(src="images/pic02.jpg" alt='')
            .text.text-center
              h3 MAECENAS SAPIEN FEUGIAT EX PURUS
              h2 Lorem ipsum dolor
              p Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.
              a.btn.text-uppercase(href="#") learn more

          .article.col-xl-5.col-12.mr-xl-auto.ml-xl-auto
            img(src="images/pic03.jpg" alt='')
            .text.text-center
              h3 MATTIS ELEMENTUM SAPIEN PRETIUM TELLUS
              h2 Vestibulum sit amet
              p Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.
              a.btn.text-uppercase(href="#") learn more
    //-End Sec 1

    //-Start Sec 2
    section.sec2.text-center
      .overlay
          .container
            h3 NAM VEL ANTE SIT AMET LIBERO SCELERISQUE FACILISIS ELEIFEND VITAE URNA
            h2 Morbi maximus justo
    //-End Sec 2

    //-Start Sec 3
    section.sec3.text-center
      .container
        h3 NAM VEL ANTE SIT AMET LIBERO SCELERISQUE FACILISIS ELEIFEND VITAE URNA
        h2 Morbi maximus justo
        .row

           - for(var i = 1; i < 5; i++)
            .col-md-6.col-12
              img(src='images/pic0' + i + '.jpg')
    //-End Sec3

    //-Start Footer
    footer.text-center
      .container
        ul.list-unstyled
          li
            a(href='#')
              i.fab.fa-twitter
          li
            a(href='#')
              i.fab.fa-facebook-f
          li
            a(href='#')
              i.fab.fa-instagram
          li
            a(href='#')
              i.far.fa-envelope
        span &copy; Untitled. All rights reserved.
    //-End Footer

  script(src='js/jquery-3.3.1.min.js')
  script(src='js/bootstrap.min.js')
  script(src='js/test.js')
